*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/images/blob-scene-haikei-teal.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0; 
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

nav img{
    margin: 30px 0 0 0;
    width: 80%;
    height: 80%;
}



nav ul {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px){
    nav{
        width: 100%;
        position: relative;
        display: inline-block;
    }

    nav img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 40%;
    }
     .first > div {
        width: 30%;
    }

    .first .firstsection{
        width: 50;
    }

}

nav .right{
    margin: 0px 40px 0px 0px;
}

nav .middle{
    display: flex;
    width: 30%;
}

nav ul li{
    list-style: none;
    margin: 10px 23px 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: rgba(202,202,249,255);
}

nav ul li h6{
    color: rgba(72,185,167,255);
}

nav ul li a:hover{
    text-decoration: none;
    color: rgba(72,185,167,255);
}

nav .left{
    margin: 0 23px 5px 23px;
    font-size: 1.5rem;
}

.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.first > div{
    width: 70%;
}

.first .firstsection{
    font-size: 2.92rem;
    font-weight: 249;
}

.first .firstsection .firstline{
    color: rgba(72,185,167,255);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2rem;
}

.name{
    font-size: 90px;
    font-weight: bold;
    color: rgba(204,215,246,255);
}

.first .firstsection .secondline{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: rgba(112,125,150,255);
}

.first .firstsection p{
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgba(112,125,150,255);
}

.first .firstsection p a{
    color: rgba(72,185,167,255);
}

#element{
    color: rgba(100,146,32,255);
}

.btn {
    color: rgb(25, 25, 71);
}

.first #linkbtn{
    text-decoration: none;
    border-color: rgba(72,185,167,255);
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    color: rgba(72,185,167,255);
}

.first #linkbtn:hover{
    text-decoration: none;
    background-color: rgba(72,185,167,255);
    color: black;
}

.first #linkbtn #icon{
    background-color: rgba(72,185,167,255);
    border-color: rgba(72,185,167,255);
    width: 12px;
    height: 12px;
}


/* second section */

.second h1{
    font-size: 3rem;
    text-align: center;
    height: 30%;
    color: rgba(204,215,246,255);
    font-family: 'Roboto Mono', sans-serif;
}

.second .container{
    display: flex;
}

.second .row{
    margin: 0 -5px;
}

.second .row:after {
    content: "";
    display: inline-table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .second .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .second .card{
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
}

.second .card {
    float: left;
    margin: 0 0 0 25px;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.second .card-header{
    color: rgba(72,185,167,255);
}

.second .card-text{
    color: rgba(204,215,246,255);
    font-family: 'Roboto Mono', sans-serif;
}

.second button{
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(72,185,167,255);
    font-size: 17px;
    background-color: black;
    font-weight: bold;
    border-color: rgba(72,185,167,255);
}

.second button:hover{
    text-decoration: none;
    color: black;
    background-color: rgba(72,185,167,255);
    border-color: black;
    background-image: url("/images/redirect-icon.png");
}


/* third section */

.third h1{
    text-align: center;
    font-size: 3rem;
    height: 30%;
    color: rgba(204,215,246,255);
    font-family: 'Roboto Mono', sans-serif;
}

.third .left{
    flex-basis: 50%;
    max-width: 300px;
}

.third img{
    width: 15rem;
}

.third .container{
    border: 2px solid rgba(72,185,167,255);
    width: 60%;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.third label{
    color: rgba(204,215,245,255);
}

.third .btn{
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(72,185,167,255);
    font-size: 17px;
    background-color: black;
    font-weight: bold;
    border-color: rgba(72,185,167,255);
}

.third button:hover{
    text-decoration: none;
    background-color: rgba(72,185,167,255);
    color: black;
}


.third .left:after {
    content: "";
    display: table;
    clear: both;
  }


@media screen and (max-width: 600px) {
    .third .container {
      width: 70%;
      display: block;
      margin-bottom: 10px;
    }

    .third .right{
        display: none;
    }
}

.third .desc{
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(204,215,245,255);
    text-align: center;
}

/* footer  */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Mono', sans-serif;
}
